body {
  margin: 0;
  padding: 0;
  font-family: "open sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7a3737;
  color: #161313;
  width: 100%;
}

h1 {
  margin: 20px 0;
  font-size: 50px;
  text-align: center;
  font-family: "saira condensed", "open sans", Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: capitalize;
}

.App {
  margin: 0 auto;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: top;
}

.Pitch {
  position: relative;
  width: 540px;
  height: 540px;
  background: #2e7d32;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.06);
  perspective: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Pitch .Bench-Banner {
  background: rgba(114, 207, 159, 0.9);
  padding-top: 10;
  z-index: 3;
}

.Pitch .Outlines {
  position: absolute;
  display: block;
  transform-origin: bottom center;
  transform: scale(1.41);
  pointer-events: none;
  bottom: -13%;
  left: 5%;
  width: 90%;
  height: 76%;
  user-select: none;
  z-index: 1;
}

.Settings {
  position: relative;
  width: 340px;
  height: 545px;
}

.Settings .Submit {
  position: absolute;
  width: 100%;
  bottom: 5px;
}

/* .Settings .Submit .PimpMyTeam {
  position: relative;
  width: 100%;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.95);
  font-size: 20px;
  line-height: 26px;
  padding: 10px 60px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  vertical-align: right;
  display: inline-block;
} */

.Settings .Submit .GetMyTeam {
  position: relative;
  width: 100%;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.95);
  font-size: 20px;
  line-height: 26px;
  padding: 10px 60px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  vertical-align: left;
  display: inline-block;
}

.Flexbox-Row-Container {
  /* top: 10px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.Flexbox-Row-Item {
  width: 80px;
  margin: 10px;
  text-align: center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #fafafa !important;
  color: rgba(0, 0, 0, 0.95) !important;
  border-color: rgba(0, 0, 0, 0.95) !important;
  line-height: 26px !important;
}

.PlayerCard {
  border-style: solid;
}

.Settings .Result-player:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Settings .Candidates {
  background: #fafafa;
  margin-top: 5px;
  max-height: 330px;
  overflow-y: scroll;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.95);
}
