body {
  margin: 0;
  padding: 0;
  font-family: "open sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7a3737;
  color: #161313;
  width: 100%;
}

h1 {
  margin: 20px 0;
  font-size: 50px;
  text-align: center;
  font-family: "saira condensed", "open sans", Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: capitalize;
}

.App {
  margin: 0 auto;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: top;
}

.Pitch {
  position: relative;
  width: 540px;
  height: 540px;
  background: #2e7d32;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.06);
  perspective: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Pitch .Bench-Banner {
  background: rgba(114, 207, 159, 0.9);
  padding-top: 10;
  z-index: 3;
}

.Pitch .Outlines {
  position: absolute;
  display: block;
  transform-origin: bottom center;
  transform: scale(1.41);
  pointer-events: none;
  bottom: -13%;
  left: 5%;
  width: 90%;
  height: 76%;
  user-select: none;
  z-index: 1;
}

.ControlPanel {
  position: relative;
  width: 340px;
  height: 545px;
}

.ControlPanel .Inputs {
  position: relative;
  width: 100%;
  background-color: grey;
  padding: 5px;
  height: 28%;
}

.ControlPanel .Inputs .Input {
  position: relative;
  width: 100%;
  display: inline-block;
}

.ControlPanel .Inputs .Input .Input-League-ID {
  float: right;
}

.ControlPanel .Inputs .Input .Input-Team-Name {
  float: right;
}

.ControlPanel .Inputs .DropDown {
  position: relative;
  width: 100%;
  display: inline-block;
}

.ControlPanel .Inputs .DropDown .dropdown {
  float: right;
}

.ControlPanel .Inputs .DropDown .dropdown .dropdown-toggle.btn.btn-primary {
  min-width: 203px;
}

.ControlPanel .Submit {
  position: absolute;
  width: 100%;
  /* height: 5%; */
  bottom: 5px;
}

.ControlPanel .Submit .GetMyTeam {
  position: relative;
  width: 100%;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.95);
  font-size: 20px;
  line-height: 26px;
  padding: 10px 60px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  vertical-align: left;
  display: inline-block;
}

.Flexbox-Row-Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.Flexbox-Row-Item {
  width: 80px;
  margin: 10px;
  text-align: center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #fafafa !important;
  color: rgba(0, 0, 0, 0.95) !important;
  border-color: rgba(0, 0, 0, 0.95) !important;
  line-height: 26px !important;
}

.PlayerCard {
  border-style: solid;
}

.ControlPanel .Result-player {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}

.ControlPanel .Candidates {
  background: #fafafa;
  margin-top: 5px;
  overflow-y: scroll;
  border-radius: 3px;
  color: black;
  position: relative;
  width: 100%;
  margin-top: 5px;
  background-color: gray;
  height: 60%;
  padding: 5px;
}

.tableFixHead thead th {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */
}
table {
  border-collapse: collapse; /* make the table borders collapse to each other */
  width: 100%;
}
th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}
th {
  background: #eee;
}
